$prayColor:#591D01;


/*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding: 0;
}
a,a:hover{
	color: black;
}






@import '_header.scss';
@import '_slider.scss';
@import '_about.scss';
@import '_new-colection.scss';
@import '_testimonial.scss';
@import '_newslatter.scss';
@import '_sponser.scss';
@import '_suppots.scss';
@import '_social_bottom.scss';









  /*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/
  /*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/
  /*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/
  /*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/
  /*---------------------------------------
  -             reset_code              -
  ---------------------------------------*/